<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
    {{#if product}}
    <link rel="stylesheet" href="../css/singleProduct.css">
    {{/if}}
    {{#if update}}
    <link rel="stylesheet" href="../css/update.css">
      {{/if}}
</head>
<body>
  <header>
    <div id="nav">
        <h1 id="myName" style="color: white;">GAL ATNAW</h1>
        <div id="menuBurger">
            <div class="menuBurgerBtn"></div>
        </div>
        </div>
        <nav>
            <ul id="navUl">
                <li ><a href="/computer"><p class="Navtext">COMPUTER</p></a></li>
                <li ><a href="/laptop"><p class="Navtext">LAPTOPS</p></a></li>
                <li ><a href="/audio"><p class="Navtext">AUDIO</p></a></li> 
                <li ><a href="/hardwear"><p class="Navtext">HARDWEAR</p></a></li>
                <li ><a href="../cart.html"><p class="Navtext">cart</p></a></li>
            </ul>
        </nav>
        <div id="searchContainer">
            <input  id="search" type="search" placeholder="search" >
            <ul id="searchForm">
            </ul>
        </div>   
</header>
{{#if product}}
  {{>product}}
{{/if}}
{{#if update}}
  {{>update}}
{{/if}}
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{{#if product}}
      <script src="../js/detailProduct.js"></script>
{{/if}}
{{#if update}}
      <script src="../js/updateProduct.js"></script>
{{/if}}
      <script src="../js/search.js"></script>
</body>
</html>